h1 {
    text-align: center;
    color: blue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2 {
    color:gray;
    font-family: Arial, Helvetica, sans-serif
}

.destacar {
    text-decoration: underline;
    font-size: 18px;
}